<h1 id="tableLabel">Devices Management</h1>

<form action="" name="form">
    <div class="form-row">
        <div class="col">
            <label for="serialNumber">Serial Number</label>
            <input type="text" class="form-control" id="serialNumber" name="serialNumber" [(ngModel)]="request.serialNumber" required>
        </div>
        <div class="col">
            <label for="exampleInputEmail1">Device Type</label>
            <select id="deviceType" name="deviceType" [(ngModel)]="request.deviceType" class="form-control">
                <option value="0">
                    Please select a device
                </option>
                <option *ngFor="let deviceType of deviceTypes" [value]="deviceType.id">
                    {{deviceType.value}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="firmwareVersion">Firmware Version</label>
            <input type="text" class="form-control" id="firmwareVersion" name="firmwareVersion" [(ngModel)]="request.firmwareVersion">
        </div>
        <div class="col">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" name="state" [(ngModel)]="request.state">
        </div>
    </div>
    <div *ngIf="request.deviceType == 3" class="form-row">
        <div class="col">
            <label for="ip">IP</label>
            <input type="text" class="form-control" id="ip" name="ip" [(ngModel)]="request.ip">
        </div>
        <div class="col">
            <label for="port">Port</label>
            <input type="number" class="form-control" id="port" name="port" [(ngModel)]="request.port">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <br /><button class="btn btn-primary" (click)="createDevice()">Create</button>
        </div>
    </div>
</form>

<p *ngIf="!devices"><em>Loading...</em></p>
<p><em>{{status}}</em></p>
<p><em>{{errorMessage}}</em></p>
<br />
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="devices">
    <thead>
        <tr>
            <th>Action</th>
            <th>Serial Number</th>
            <th>Device Type</th>
            <th>Firmware Version</th>
            <th>State</th>
            <th>IP</th>
            <th>Port</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let device of devices">
            <td>
                <button class="btn btn-danger" (click)="deleteDevice(device.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </button>
            </td>
            <td>
                {{
 device.serialNumber
                }}
            </td>
            <td>{{ device.deviceType }}</td>
            <td>{{ device.firmwareVersion }}</td>
            <td>{{ device.state }}</td>
            <td>{{ device.ip }}</td>
            <td>{{ device.port }}</td>
        </tr>
    </tbody>
</table>

